SMTP_HOST=smtpout.secureserver.net
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=connect@fluvo.in
SMTP_PASSWORD=your_titan_password_here
EMAIL_FROM_NAME=Fluvo
EMAIL_FROM_ADDRESS=connect@fluvo.in
EMAIL_TEST_MODE=true
TEST_EMAIL_RECIPIENT=